# Ignore node modules
node_modules

# Ignore build artifacts
build
.next

# Ignore development files
.git
.gitignore
README.md
docker-compose.yml
sonar-project.properties

# Ignore other files and directories
npm-debug.log*
yarn-error.log*
.env
.vscode